<div class="row mt-3">
  <div class="col d-flex justify-content-between align-items-center">
    <div class="fs-1 fw-bold text-primary">Menu ({{totalPrice | currency}})</div>
    <div>
      <button type="button" class="btn btn-primary" [disabled]="totalQuantity == 0">
        Place Order ({{totalQuantity}})
      </button>
    </div>
  </div>
</div>

<!-- each row display a single mene item -->
@for(menu of menus; track menu.id) {
  <div class="row mb-2">
    <div class="col">
      <div class="menu-item">
        <div>
          <!--Remove button-->
          <button type="button" class="btn btn-warning" (click)="changeQuantity(-1, menu.id)">
            <i class="bi bi-x-square"></i>
          </button>
        </div>
        <div class="menu-details">
          <div>Name: <span class="fw-bold"> {{menu.name}} </span> </div>
          <div>Description:
            <span class="fst-italic">
              {{menu.description}}
            </span>
          </div>
          <div>Price: {{menu.price | currency}}</div>
          @if (menu.quantity > 0) {
            <div>Quantity: {{menu.quantity}}</div>
          }
        </div>
        <div class="menu-button-end">
          <!--Add button-->
          <button type="button" class="btn btn-success" (click)="changeQuantity(1, menu.id)">
            <i class="bi bi-plus-circle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
}
